@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --blue-color:#00214A;
  --orange-color:#FF9700;
  --white-color: #fff;
  --gray-color: #F3F3F3;
  --blueinput-color: #00214A33;

  /* Fonts */
  --font:Poppins;
 
  /* Effects */
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
}


/*HEADER*/
header {
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 3em 0 3em;
}
header img{
  width: 147.916px;
  height: 40.095px;
}

header nav{
  width: 60%;
  height: 100%;
}

header nav ul{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}


header nav ul li{
  position: relative;
  list-style: none;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li:hover ::after, nav ul li.active ::after {
  content: '';
  width: 100%;
  height: .3rem;
  background-color: var(--orange-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

header nav ul li a{
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  height: fit-content;
}



.header-button{
  text-decoration: none;
  background-color: var(--orange-color);
  padding: .6em 1em .6em 1em;
  border-radius: 10px;
  color: var(--white-color);
  text-transform: uppercase;
}

 /*BANNIERE ARTICLE BLOG*/
 #banniere-article-blog{
    background: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em;
}
 #banniere-article-blog h1{
    color: var(--blue-color);
    font-family: Poppins;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}
.banniere-article-blog a{
    text-decoration: none;
    color: var(--blue-color);
}

/*ARTICLE*/
#article {
    width: 100%;
    justify-content: space-around;
}
article{
    width: 22em;
    height: 31.9em;
    display: inline-flex;
    padding: .9em .8em .8em .8em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--white-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

}
article .article-blog{
    display: flex;
    justify-content: space-around;
}
.article-blog h3{
    font-size: 1.3em;
    color: var(--blue-color);
    text-align: left;
    padding-left: .7em;
}
.article-blog p{
    font-size: .7em;
    text-transform: uppercase;
    color: #7C7C7C;
}
.article-blog p a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--blue-color);
}
.article-blog p span{
    text-transform: capitalize;
}
.p-article{
    font-size: .8em;
    width: 24.5em;
    font-weight: 400;
    line-height: 2em;
    margin: 1em;
}

.img-cahier{
    width: .9em;
    height: 1.2em;
}
.img-article{
    width: 18.7em;
    height: 12.5;
    border: 2px solid #E5E5E5;

    background: var(--white-color);
}
.a-article{
    text-decoration: none;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 1em;
    text-transform: uppercase;
    font-weight: 600;
}
 /* 

#banniere-article-blog div{
    display: flex;
}
#banniere-article-blog img{
    margin: 5px;
    height:19px;
}
#banniere-article-blog .home{
    margin-top: 20px;
}
#banniere-article-blog .blog{
    color: #00214A;
font-family: Poppins;
font-size: 15px;
font-weight: 700;
line-height: 10px; /* 86.667% */
/*letter-spacing: 1px;
text-transform: uppercase;
}
#banniere-article-blog .article{
    color: rgba(0, 33, 74, 0.50);
text-align: right;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 13px; /* 86.667% */
/*letter-spacing: 1px;
text-transform: uppercase;
}
.banniere-article-blog div{
    margin-top: 25px;
} */

/*FOOTER*/

footer {
  width: 100vw;
}

footer section{
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-around;
}

footer section:nth-child(1){
  justify-content: space-around;
  padding: 0em 4em 0em 4em;
}

footer section:nth-child(1) div{
  position: relative;
  height: 2.5rem;
}

footer section:nth-child(1) div input{
  height: 100%;
  width: 30vw;
  padding-left: .8em;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--blueinput-color);
}

footer section:nth-child(1) div a{
  font-size: 0.8rem;
  position: absolute;
  right: .4rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--orange-color);
  padding: .5em;
  border-radius: 5px;
  color: var(--white-color);
}
.text-footer{
  color: var(--blue-color);
  text-transform: uppercase;
}
footer section:nth-child(4){
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 500;
}