/* Figma Styles of your File */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Manrope:wght@200&family=Montserrat:wght@300&display=swap');

:root {
  /* Colors */
  --title-color:#00214A;
  --button-color:#FF9700;
  /* Fonts */
  --font:Poppins;
  --size:16px;
  --width:400;
  --line-height:24px;
 
  /* Effects */
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* HEADER */
.head{
    display: flex;
    background: var(--title-color);
    color: white
}
.head img{
    padding-left: 72px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 150px;
}
.navbar{
    padding-top: 35px;
    display: flex;
}

.services:hover,
.services:focus {
    color: #FF9700;
    border-bottom: solid 5px #FF9700;
}

.services:focus::after {
    transform: scaleX(1);
}



.services, .services * {
    box-sizing: border-box;
        }
.services {
    padding-left: 50px;
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.bouton {
   border: none;
    margin-top: 27px;
    background: #ff9700;
    border-radius: 5px;
    width: 119px;
    height: 40px;
    position: relative;
    margin-left: 250px;
  }

.contact-bouton {
   
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}


    /*BANNIERE ARTICLE BLOG*/
#banniere-article-blog{
    background: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#banniere-article-blog h1{
    color: #00214A;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 23.1px; /* 77% */
    letter-spacing: 0.735px;
    text-transform: uppercase;
}
#banniere-article-blog div{
    display: flex;
}
#banniere-article-blog img{
    margin: 5px;
}
#banniere-article-blog .home{
    margin-top: 20px;
}
#banniere-article-blog .blog{
    color: #00214A;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 10px; /* 86.667% */
letter-spacing: 1px;
text-transform: uppercase;
}
#banniere-article-blog .article{
    color: rgba(0, 33, 74, 0.50);
text-align: right;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 13px; /* 86.667% */
letter-spacing: 1px;
text-transform: uppercase;
}
.banniere-article-blog div{
    margin-top: 25px;
}

/*CARD*/

#card{
    background: #FFF;
    padding: 50px 0 50px 0;
}
.card{
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}
#card .card-titre{
    display: flex;
}
article{
    width: 340px;
    height: 511px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    
}
.card-titre h2 {
    color: #00214A;
    font-family: Oswald;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.1px; /* 110% */
    letter-spacing: 0.735px;
    text-transform: uppercase;
    padding-left: 15px;
    text-align: left;
}
.card-time {
    display: flex;
    padding-left: 17px;
}
.card-time p:nth-child(1){
    color: #7C7C7C;
    font-family: Source Sans Pro;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.22px; /* 149.739% */
    text-transform: uppercase;
}
.card-time p:nth-child(2){
    color: #7C7C7C;
    font-family: Source Sans Pro;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.22px; /* 149.739% */
}
.card div:nth-child(3){
    text-align: center;
}
.card-time a{
    color: #00214A;
    font-family: Source Sans Pro;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.22px; /* 149.739% */
    padding-top: 11px;
}

.card-img{
    display: flex;
    width: 340px;
    height: 199.3px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-p{
    display: flex;
    width: 340px;
    height: 133px;
    flex-direction: column;
    justify-content: center;
    color: #7C7C7C;
    text-align: justify;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 180% */
}
.card-a{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    background: #FF9700;
}
/* FOOTER */


footer{
        margin-top: 50px;
}
.newletter, .newletter * {
    box-sizing: border-box;
    }
.newletter {
    background: #ffffff;
    /* width: 1365px; */
    padding-top: 30px;
    padding-left: 300px;
    height: 100px;
    display: flex;
    position: relative;
    box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.20);
}

.s-inscrire-la-newsletter, .s-inscrire-la-newsletter * {
    box-sizing: border-box;
}
.s-inscrire-la-newsletter {
    padding-top: 13px;
    padding-right: 88px;
    color: #00214a;
    text-align: left;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    /* font-weight: 500; */
    position: relative;
}
    
.bouton-inscrire, .bouton-inscrire * {
    box-sizing: border-box;
}
.bouton-inscrire {
    background: #ff9700;
    border-radius: 5px;
    width: 143px;
    height: 42px;
    margin-left: -5px;
    position: relative;
    border: none;
}

.m-inscrire, .m-inscrire * {
    box-sizing: border-box;
    }
.m-inscrire {
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.input-letter, .input-letter * {
box-sizing: border-box;
}
.input-letter {
    color: #575757;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.input-letter input{
    background: rgba(0, 33, 74, 0.20);
    border: none;
    padding: 15px 25px;
    box-shadow: 0px 5px 16px rgba(248, 247, 247, 0.3);
    width: 300px;
    height: 40px;
}
.politique-de-confidentialite, .politique-de-confidentialite * {
    box-sizing: border-box;
    }
.politique-de-confidentialite {
    color: #00214a;
    text-align: left;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-left: 150px;
}

.politique, .politique * {
    box-sizing: border-box;
    }
.politique {
    background: #ffffff;
    /* width: 1365px; */
    padding-top: 30px;
    /* padding-left: 100px; */
    height: 100px;
    display: flex;
    position: relative;
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.20);
    }
.pied-footer, .pied-footer * {
     box-sizing: border-box;
 }
.pied-footer {
    background: #00214a;
    /* width: 1365px; */
    height: 103px;
    position: relative;
    display: flex;
 }
.pied-footer img{
    padding-left: 72px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 100px;
}
.copyright, .copyright * {
    box-sizing: border-box;
    }
.copyright {
    padding-top: 40px;
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding-right: 100px;
    }

.reseau-sociaux, .reseau-sociaux * {
    box-sizing: border-box;
}
.reseau-sociaux {
    padding-top: 35px;
    display: flex;
    position: relative;
    overflow: visible;
}
.reseau-sociaux a .fa-brands{
border-radius: 100%;
}
.reseau-sociaux a{
    padding-left: 10px;
}

@media screen and (max-width: 1024px) {
    body{
        width: 100%;
        flex-wrap: wrap;
    }
    article{
        width: 258px;
        height: 470px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .card-titre h2 {
        font-size: 10px;
        font-weight: 600;
    }
    .card-time p:nth-child(1){
        font-size: 7px;
        font-weight: 400;
        line-height: 16px; 
    }
    .card-time p:nth-child(2){
        font-size: 7px;
        margin: 5px;
    }

    .card-time a{
        font-size: 7px;
    }
    .card-img{
        width: 231px;
        height: 154px;
    }
    .card-p{
        width: 228px;
        margin: 20px 0 45px 0;
    }
    .card-a{
        padding: 10px;
        font-size: 14px;

    }
}










   