/* Figma Styles of your File */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Manrope:wght@200&family=Montserrat:wght@300&display=swap');

:root {
  /* Colors */
  --title-color:#00214A;
  --button-color:#FF9700;
  /* Fonts */
  --font:Poppins;
  --size:16px;
  --width:400;
  --line-height:24px;
 
  /* Effects */
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* HEADER */
.head{
    display: flex;
    background: var(--title-color);
    color: white
}
.head img{
    padding-left: 72px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 150px;
}
.navbar{
    padding-top: 35px;
    display: flex;
}

.services:hover,
.services:focus {
    color: #FF9700;
    border-bottom: solid 5px #FF9700;
}

.services:focus::after {
    transform: scaleX(1);
}



.services, .services * {
    box-sizing: border-box;
        }
.services {
    padding-left: 50px;
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.bouton {
   border: none;
    margin-top: 27px;
    background: #ff9700;
    border-radius: 5px;
    width: 119px;
    height: 40px;
    position: relative;
    margin-left: 250px;
  }

.contact-bouton {
   
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

/*CONTACT*/
#contact  {
    background-image: url(images/Frame\ 1000002047.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
.contact iframe{
    width: 465.351px;
    height: 181.326px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(0, 119, 57, 0.10);
}
.contact p{
    width: 438.351px;
    height: 114.429px;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    justify-content: center;
    padding: 25px 0 0 25px ;
}
 .contact p:nth-child(2)::before{
    content: url(images/localisation.png);
 }
 .contact p:nth-child(3)::before{
    content: url(images/mail.png);
 }
 .contact p:nth-child(4)::before{
    content: url(images/telephone.png);
 }

.formulaire{
    width: 609.09px;
    height: 632px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    text-align: center;
    background-image: url(images/Calque\ 2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
form  ul li{
    list-style: none;
}
.formulaire input{
    width: 497.7px;
    height: 60px;
    border-radius: 5px;
    background: #CCD3DB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    color: #575757;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0 25px 0;
}
.formulaire textarea{
    width: 497.7px;
    height: 154.05px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #CCD3DB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    color: #575757;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    margin: 25px;
} 
.formulaire a{
    width: 255px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #00214A;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    padding: 10px;
    align-items: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


    /* FOOTER */


footer{
        margin-top: 50px;
}
.newletter, .newletter * {
    box-sizing: border-box;
    }
.newletter {
    background: #ffffff;
    /* width: 1365px; */
    padding-top: 30px;
    padding-left: 300px;
    height: 100px;
    display: flex;
    position: relative;
    box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.20);
}

.s-inscrire-la-newsletter, .s-inscrire-la-newsletter * {
    box-sizing: border-box;
}
.s-inscrire-la-newsletter {
    padding-top: 13px;
    padding-right: 88px;
    color: #00214a;
    text-align: left;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    /* font-weight: 500; */
    position: relative;
}
    
.bouton-inscrire, .bouton-inscrire * {
    box-sizing: border-box;
}
.bouton-inscrire {
    background: #ff9700;
    border-radius: 5px;
    width: 143px;
    height: 42px;
    margin-left: -5px;
    position: relative;
    border: none;
}

.m-inscrire, .m-inscrire * {
    box-sizing: border-box;
    }
.m-inscrire {
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.input-letter, .input-letter * {
box-sizing: border-box;
}
.input-letter {
    color: #575757;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.input-letter input{
    background: rgba(0, 33, 74, 0.20);
    border: none;
    padding: 15px 25px;
    box-shadow: 0px 5px 16px rgba(248, 247, 247, 0.3);
    width: 300px;
    height: 40px;
}
.politique-de-confidentialite, .politique-de-confidentialite * {
    box-sizing: border-box;
    }
.politique-de-confidentialite {
    color: #00214a;
    text-align: left;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-left: 150px;
}

.politique, .politique * {
    box-sizing: border-box;
    }
.politique {
    background: #ffffff;
    /* width: 1365px; */
    padding-top: 30px;
    /* padding-left: 100px; */
    height: 100px;
    display: flex;
    position: relative;
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.20);
    }
.pied-footer, .pied-footer * {
     box-sizing: border-box;
 }
.pied-footer {
    background: #00214a;
    /* width: 1365px; */
    height: 103px;
    position: relative;
    display: flex;
 }
.pied-footer img{
    padding-left: 72px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 100px;
}
.copyright, .copyright * {
    box-sizing: border-box;
    }
.copyright {
    padding-top: 40px;
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding-right: 100px;
    }

.reseau-sociaux, .reseau-sociaux * {
    box-sizing: border-box;
}
.reseau-sociaux {
    padding-top: 35px;
    display: flex;
    position: relative;
    overflow: visible;
}
.reseau-sociaux a .fa-brands{
border-radius: 100%;
}
.reseau-sociaux a{
    padding-left: 10px;
}

