@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --blue-color:#00214A;
  --orange-color:#FF9700;
  --white-color: #fff;
  --gray-color: #F3F3F3;
  --blueinput-color: #00214A33;

  /* Fonts */
  --font:Poppins;
 
  /* Effects */
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
}


/*HEADER*/
header {
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 3em 0 3em;
}
header img{
  width: 147.916px;
  height: 40.095px;
}

header nav{
  width: 60%;
  height: 100%;
}

header nav ul{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}


header nav ul li{
  position: relative;
  list-style: none;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li:hover ::after, nav ul li.active ::after {
  content: '';
  width: 100%;
  height: .3rem;
  background-color: var(--orange-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

header nav ul li a{
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  height: fit-content;
}



.header-button{
  text-decoration: none;
  background-color: var(--orange-color);
  padding: .6em 1em .6em 1em;
  border-radius: 10px;
  color: var(--white-color);
  text-transform: uppercase;
}

/* CONTACT */
#contact  {
    background-image: url(../images/Frame\ 1000002047.png);
    display: flex;
    justify-content: space-around;
    background-size: 100% auto;
    background-repeat: no-repeat;
    align-items: center;
    padding: 2em;
}
.contact iframe{
    width: 25em;
    height: 11.3em;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(0, 119, 57, 0.10);
    margin-bottom: 1.5em
}
.contact p{
    width: 23.5em;
    height: 6em;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    background: var(--white-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    justify-content: center;
    padding: 1.5em 0 0 1.5em ;
    margin-bottom: 1.5em;
}
.contact p:nth-child(2)::before{
    content: url(../images/localisation.png);
 }
 .contact p:nth-child(3)::before{
    content: url(../images/mail.png);
 }
 .contact p:nth-child(4)::before{
    content: url(../images/telephone.png);
 }
 .formulaire{
    width: 30em;
    height: 39em;
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    text-align: center;
    background-image: url(../images/Calque\ 2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
form  ul li{
    list-style: none;
}
.formulaire input{
    width: 22em;
    height:3em;
    border-radius: 5px;
    border: none;
    background: var(--blueinput-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    color: #575757;
    font-family: Poppins;
    font-size: 1.2em;
    font-weight: 400;
    margin: 1.5em 0 1.5em 0;
}
.formulaire textarea{
    width: 22em;
    height: 8em;
    border-radius: 5px;
    background: var(--blueinput-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    color: #575757;
    font-family: Poppins;
    font-size: 1.2em;
    font-weight: 400;
    margin: 1.5em;
} 
.formulaire a{
    width: 15.9em;
    height: .6em;
    border-radius: 5px;
    background: #00214A;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    color: var(--white-color);
    padding: 10px;
    align-items: center;
    font-family: Poppins;
    font-size: .6em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

/*FOOTER*/

footer {
  width: 100vw;
}

footer section{
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-around;
}

footer section:nth-child(1){
  justify-content: space-around;
  padding: 0em 4em 0em 4em;
}

footer section:nth-child(1) div{
  position: relative;
  height: 2.5rem;
}

footer section:nth-child(1) div input{
  height: 100%;
  width: 30vw;
  padding-left: .8em;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--blueinput-color);
}

footer section:nth-child(1) div a{
  font-size: 0.8rem;
  position: absolute;
  right: .4rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--orange-color);
  padding: .5em;
  border-radius: 5px;
  color: var(--white-color);
}
.text-footer{
  color: var(--blue-color);
  text-transform: uppercase;
}
footer section:nth-child(4){
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 500;
}
@media (min-width:768) and (max-width:1024px) {
    
}