:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 390px;
  height: 1566px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.section {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 116px 0 0 30px;
  background: #00214a;
  z-index: 7;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 162px;
  height: 61.43%;
  top: 20%;
  left: calc(50% - 81px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  z-index: 11;
}
.wrapper {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 9px 0 0 30px;
  background: #00214a;
  z-index: 8;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 31.43%;
  top: 34.29%;
  left: calc(50% - 94px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.section-2 {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 9px 0 0 30px;
  font-size: 0px;
  background: #00214a;
  z-index: 14;
  overflow: visible auto;
}
.text-3 {
  display: block;
  position: relative;
  height: 22px;
  margin: 24px 0 0 80px;
  color: #ff9700;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.img {
  position: relative;
  width: 330px;
  margin: 24px 0 0 0;
  background: url(./assets/images/ed427dc2-0aa4-435d-b8ca-4caa3c0d7430.png)
    no-repeat center;
  background-size: cover;
  border: 9px solid #ff9700;
  z-index: 16;
}
.section-3 {
  position: relative;
  width: 330px;
  height: 322px;
  margin: 0 0 0 30px;
  font-size: 0px;
  background: #ffffff;
  z-index: 15;
  overflow: visible auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 294px;
  height: 118px;
  margin: 14px 0 0 21px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21.72px;
  text-align: center;
  z-index: 18;
}
.pic {
  position: relative;
  width: 15.842px;
  height: 10.651px;
  margin: 100px 0 0 54px;
  background: url(./assets/images/d59afff0-af1f-4ac7-8192-2b46e7eb7686.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.section-4 {
  position: relative;
  width: 202px;
  height: 32px;
  margin: 34.349px 0 0 66px;
  background: #ff9700;
  z-index: 48;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 7px;
  left: 7px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.img-2 {
  position: absolute;
  width: 7.43%;
  height: 43.75%;
  top: 31.25%;
  left: 87.62%;
  background: url(./assets/images/f69c54c9-5b9d-4268-81f3-971fb86f2431.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 50;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 205px;
  height: 39px;
  top: 180px;
  left: 73px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 21.72px;
  text-align: left;
  z-index: 22;
}
.img-3 {
  position: absolute;
  width: 4.8%;
  height: 3.31%;
  top: 57.14%;
  left: 16.36%;
  background: url(./assets/images/9cccecde-e535-41db-9234-288c5dea9538.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 146px;
  height: 39px;
  top: 202px;
  left: 70px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 21.72px;
  text-align: center;
  z-index: 20;
}
.pic-2 {
  position: absolute;
  width: 4.8%;
  height: 3.31%;
  top: 64.6%;
  left: 16.36%;
  background: url(./assets/images/34e9fde1-cabb-4d4d-ae75-91cd7df2531c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 155px;
  height: 17px;
  top: 223px;
  left: 67px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 250px;
  left: 73px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.img-4 {
  position: absolute;
  width: 4.8%;
  height: 3.31%;
  top: 79.5%;
  left: 16.36%;
  background: url(./assets/images/1d79cab6-aca1-401d-a87d-469066ee46da.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.box {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 9px 0 0 30px;
  background: #00214a;
  z-index: 9;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 41.43%;
  top: 30%;
  left: calc(50% - 76px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.wrapper-2 {
  position: relative;
  width: 389px;
  height: 758px;
  margin: 63px 0 0 0;
  font-size: 0px;
  background: #ffffff;
  z-index: 28;
  overflow: visible auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.text-b {
  display: block;
  position: relative;
  height: 30px;
  margin: 39px 0 0 73px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.box-2 {
  position: relative;
  width: 351px;
  height: 50px;
  margin: 25px 0 0 19px;
  background: rgba(0, 33, 74, 0.2);
  z-index: 32;
  border-radius: 5px;
}
.section-5 {
  position: absolute;
  width: 99px;
  height: 40px;
  top: 6px;
  left: 247px;
  background: #ff9700;
  z-index: 33;
  border-radius: 5px;
}
.text-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 8px;
  left: 5px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 13px;
  left: 6px;
  color: #575757;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.group {
  position: relative;
  width: 300px;
  height: 1px;
  margin: 25px 0 0 52px;
  background: rgba(0, 33, 74, 0.2);
  z-index: 36;
}
.text-e {
  display: block;
  position: relative;
  height: 30px;
  margin: 42px 0 0 44px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.text-f {
  display: block;
  position: relative;
  height: 30px;
  margin: 40px 0 0 101px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.text-10 {
  display: block;
  position: relative;
  height: 30px;
  margin: 40px 0 0 151px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.text-11 {
  display: block;
  position: relative;
  height: 30px;
  margin: 40px 0 0 175px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.section-6 {
  position: relative;
  width: 391px;
  height: 286px;
  margin: 20px 0 0 -1px;
  background: #00214a;
  z-index: 42;
  overflow: visible auto;
}
.pic-3 {
  position: relative;
  width: 147.916px;
  height: 40px;
  margin: 34px 0 0 122px;
  background: url(./assets/images/ce9693ea-0a42-4711-bb77-d4dfbcda3aae.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 316px;
  height: 48px;
  margin: 49px 0 0 38px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-overflow: initial;
  z-index: 44;
  overflow: hidden;
}
.pic-4 {
  position: relative;
  width: 222px;
  height: 32px;
  margin: 49px 0 0 85px;
  background: url(./assets/images/0932b9b0-a63b-4ac8-8b63-cddd7c711b91.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 45;
}
.wrapper-3 {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 1965px 0 0 173px;
  overflow: hidden;
}
.section-7 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.img-5 {
  position: absolute;
  width: 390px;
  height: 52.97px;
  top: 0;
  left: 0;
  background: url(./assets/images/e61eae6a-7049-44c7-97b1-590bdb5d68cf.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.pic-5 {
  position: absolute;
  width: 85px;
  height: 24.088px;
  top: 15.719px;
  left: 17px;
  background: url(./assets/images/0298c741-4a85-4a4b-a0b3-f2afebda8af8.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.img-6 {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 18px;
  left: 338px;
  background: url(./assets/images/13f9628c-4247-45c9-80e1-38de0581b5bc.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
  border-radius: 100px;
}
