:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 390px;
  height: 1246px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 116px 0 0 30px;
  background: #00214a;
  z-index: 27;
}
.accompagnement-personnalise {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 162px;
  height: 61.43%;
  top: 20%;
  left: calc(50% - 80px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  z-index: 32;
}
.rectangle-1 {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 9px 0 0 30px;
  background: #00214a;
  z-index: 28;
}
.outils-de-planification {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 31.43%;
  top: 34.29%;
  left: calc(50% - 90px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.rectangle-2 {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 9px 0 0 30px;
  background: #00214a;
  z-index: 29;
}
.ateliers-webinaires {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32.86%;
  top: 34.29%;
  left: 23.94%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.rectangle-button {
  position: relative;
  width: 330px;
  height: 70px;
  margin: 9px 0 0 30px;
  cursor: pointer;
  background: #00214a;
  border: none;
  z-index: 30;
}
.suivi-evaluation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 41.43%;
  top: 30%;
  left: 25.76%;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.rectangle-div {
  position: relative;
  width: 389px;
  height: 758px;
  margin: 65px 0 0 1px;
  font-size: 0px;
  background: #ffffff;
  z-index: 3;
  overflow: visible auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.newsletter-subscribe {
  display: block;
  position: relative;
  height: 30px;
  margin: 39px 0 0 73px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.rectangle-div-3 {
  position: relative;
  width: 351px;
  height: 50px;
  margin: 8px 0 0 19px;
  background: rgba(0, 33, 74, 0.2);
  z-index: 7;
  border-radius: 5px;
}
.rectangle-button-4 {
  position: absolute;
  width: 99px;
  height: 40px;
  top: 6px;
  left: 247px;
  cursor: pointer;
  background: #ff9700;
  border: none;
  z-index: 8;
  border-radius: 5px;
}
.span-m-inscrire {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 8px;
  left: 5px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.span-saisissez-votre-adresse-mail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 13px;
  left: 6px;
  color: #575757;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.rectangle-5 {
  position: relative;
  width: 300px;
  height: 1px;
  margin: 42px 0 0 52px;
  background: rgba(0, 33, 74, 0.2);
  z-index: 11;
}
.span-politique-de-confidentialite {
  display: block;
  position: relative;
  height: 30px;
  margin: 42px 0 0 44px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.span-mentions-legales {
  display: block;
  position: relative;
  height: 30px;
  margin: 40px 0 0 101px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.cookies {
  display: block;
  position: relative;
  height: 30px;
  margin: 40px 0 0 151px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.faq {
  display: block;
  position: relative;
  height: 30px;
  margin: 40px 0 0 175px;
  color: #00214a;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.rectangle-6 {
  position: relative;
  width: 391px;
  height: 286px;
  margin: 20px 0 0 -1px;
  background: #00214a;
  z-index: 17;
  overflow: visible auto;
}
.group {
  position: relative;
  width: 147.916px;
  height: 40px;
  margin: 34px 0 0 122px;
  background: url(./assets/images/37110b96-a5bd-4b2f-999e-bd3e19bf452e.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.copyright-kaay-entreprendre {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 316px;
  height: 48px;
  margin: 49px 0 0 38px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-overflow: initial;
  z-index: 19;
  overflow: hidden;
}
.reseau-sociaux {
  position: relative;
  width: 222px;
  height: 32px;
  margin: 49px 0 0 85px;
  background: url(./assets/images/9ad46865-3d42-401a-b24c-6b39f163862a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.iconmonstr-facebook {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 2285px 0 0 173px;
  overflow: hidden;
}
.iconmonstr-instagram {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.rectangle-7 {
  position: absolute;
  width: 390px;
  height: 52.97px;
  top: 0;
  left: 0;
  background: url(./assets/images/5f274413-0f9b-4bbe-a631-54f45631f389.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.group-8 {
  position: absolute;
  width: 85px;
  height: 24.088px;
  top: 15.719px;
  left: 17px;
  background: url(./assets/images/fdc27e42-132a-4ba4-b0af-e60395366ef1.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.menu-burger {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 18px;
  left: 338px;
  background: url(./assets/images/05481f6a-3859-4e42-8677-f50a6c36eefa.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
  border-radius: 100px;
}
